#main {
    .products-launch {
        display: flex;
        top: 0;
        position: relative;
        flex: 1;
        margin-right: 4px;
        .products-launch_item {
            max-width: 50%;
        }
        .products-launch_content {
            color: #222;
            max-width: 450px;
            margin: 28px auto 60px;
            text-align: center;
            z-index: 10;
            h3 {
                margin: 0 0 20px;
            }
            a {
                position: relative;
                display: inline-block;
                min-width: auto;
                padding: 8px;
                letter-spacing: .5px;
                border-width: 0 0 1px;
                color: #000;
                background: 0 0;
                transform: perspective(1px) translateZ(0);
                overflow: hidden;
            }
        }
    }
}