<main id="main">
    <div class="l-lp-slot-1 js-section">
        <div class="b-products-launch h-flex_display">
            <div class="b-products-launch_item">
                <a href="https://www.dolcegabbana.com/en/flowers/?HP_BAN=DG-FLOWERS_220804_stripe1_mood_2">
                    <img class="b-products-launch_image" src="https://dolcegabbana-cdn.thron.com/delivery/public/image/dolcegabbana/163e0ca1-ba96-4444-b876-5d52b9dcc94f/q2d6hv/std/1100x1350/top-banner-flower" alt="dg flowers" />
                </a>
                <div class="b-products-launch_content">
                    <h3 class="b-products-launch_title">Flowers Collection</h3>
                    <a href="https://www.dolcegabbana.com/en/flowers-collection/?HP_BAN=DG-FLOWERS_220804_stripe1_mood_1" class="b-products-launch_button g-button_underline" aria-label="dg flowers" data-gtm-vis-first-on-screen-6354491_337="1076" data-gtm-vis-total-visible-time-6354491_337="100"
                        data-gtm-vis-has-fired-6354491_337="1">Shop now</a
          >
          <a
            href="https://www.dolcegabbana.com/en/flowers/?HP_BAN=DG-FLOWERS_220804_stripe1_mood_2"
            class="b-products-launch_button g-button_underline"
            aria-label="dg flowers"
            data-gtm-vis-first-on-screen-6354491_337="1140"
            data-gtm-vis-total-visible-time-6354491_337="100"
            data-gtm-vis-has-fired-6354491_337="1"
            >Discover more</a
          >
        </div>
      </div>
      <div class="b-products-launch_item">
        <a
          href="https://www.dolcegabbana.com/en/dark-side/?HP_BAN=DG-DARK-SIDE_220804_stripe1_mood_4"
        >
          <img
            class="b-products-launch_image"
            src="https://dolcegabbana-cdn.thron.com/delivery/public/image/dolcegabbana/00a97712-b9c8-47fe-a355-7e861370ee4d/iidri6/std/1100x1350/top-banner-darkside"
            alt="dg dark side"
          />
        </a>
                    <div class="b-products-launch_content">
                        <h3 class="b-products-launch_title">Dark Side Collection</h3>
                        <a href="https://www.dolcegabbana.com/en/dark-side-collection/?HP_BAN=DG-DARK-SIDE_220804_stripe1_mood_3" class="b-products-launch_button g-button_underline" aria-label="dg dark side" data-gtm-vis-first-on-screen-6354491_337="1224" data-gtm-vis-total-visible-time-6354491_337="100"
                            data-gtm-vis-has-fired-6354491_337="1">Shop now</a
          >
          <a
            href="https://www.dolcegabbana.com/en/dark-side/?HP_BAN=DG-DARK-SIDE_220804_stripe1_mood_4"
            class="b-products-launch_button g-button_underline"
            aria-label="dg dark side"
            data-gtm-vis-first-on-screen-6354491_337="1250"
            data-gtm-vis-total-visible-time-6354491_337="100"
            data-gtm-vis-has-fired-6354491_337="1"
            >Discover more</a
          >
        </div>
      </div>
    </div>
  </div>
</main>